In [12]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [21]:
# webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

In [23]:
# soup = BeautifulSoup(webpage,'lxml')

In [158]:
# print(soup.prettify())

In [159]:
# soup.find('h1').text

In [32]:
# len(soup.find_all('h2'))

30

In [160]:
# for i in soup.find_all('h2'):
#     print(i.text.strip())  # strip used for remove unnecessary space

In [157]:
# soup.find_all('a',class_='review-count')

In [47]:
# company = soup.find_all('div',class_='company-content-wrapper')

In [161]:
# len(company)

In [96]:
# name=[]
# rating=[]
# reviews=[]
# comtype=[]
# hq=[]
# how_old=[]
# no_of_employee=[]

In [92]:
#for i in company:
    
 #   name.append(i.find('h2').text.strip())
  #  rating.append(i.find('p',class_='rating').text.strip())
    # if there has a chance to get multiple values then use 'find_all' it will return all the 
    # values in a list. for extracting this list we have to use [0]. 
    # like: rating.append(i.find_all('p',class_='rating')[0].text.strip()) 
    
   # reviews.append(i.find('a',class_='review-count').text.strip())
    #reviews.append(i.findAll('a' , class_='review-count')[0].text.strip())
    
    #comtype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    #hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    #old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    # employees.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    
#d = {'name':name, 'rating':rating}

In [162]:
# for i in company:

#     try:
#        name.append(i.find('h2').text.strip())
#     except:
#        name.append(np.nan)

#     try:
#        rating.append(i.find('p',class_='rating').text.strip())
#     except:
#        rating.append(np.nan)
   
#     try:

#       reviews.append(i.find('a' , class_='review-count').text.strip())
#     except:
#       reviews.append(np.nan)

#     try:

#       comtype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
#     except:
#       comtype.append(np.nan)
#     try:

#       hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
#     except:
#       hq.append(np.nan)
    
#     try:

#       how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
#     except:
#       how_old.append(np.nan)
#     try:
#       no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
#     except:
#       no_of_employee.append(np.nan)

In [163]:
# hq

In [164]:
# df=pd.DataFrame({'name':name,
#     'rating':rating,
#     'reviews':reviews,
#     'company_type':comtype,
#     'Head_Quarters':hq,
#     'Company_Age':how_old,
#     'No_of_Employee':no_of_employee,
#     })

In [165]:
# df

**upper task for one page. there has 333 pages. now work for all the pages**

# Create DataFrame() for 333 pages [Final]

In [147]:
# define empty data frame

final_data_frame = pd.DataFrame()

In [148]:
# define empty list
name=[]
rating=[]
reviews=[]
comtype=[]
hq=[]
how_old=[]
no_of_employee=[]

In [149]:
# loop for 333 pages

for page in range(1,333):
    webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(page)).text
    soup = BeautifulSoup(webpage,'lxml')
    company = soup.find_all('div',class_='company-content-wrapper') # total company in one page
    
    
    # loop for every company which is exist in single page.
    
    for i in company:

        try:
           name.append(i.find('h2').text.strip())
        except:
           name.append(np.nan)

        try:
           rating.append(i.find('p',class_='rating').text.strip())
        except:
           rating.append(np.nan)

        try:

          reviews.append(i.find('a' , class_='review-count').text.strip())
        except:
          reviews.append(np.nan)

        try:

          comtype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
        except:
          comtype.append(np.nan)
        try:

          hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
        except:
          hq.append(np.nan)

        try:

          how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
        except:
          how_old.append(np.nan)
        try:
          no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
        except:
          no_of_employee.append(np.nan)
        
        
        # try except for: there has some null values in some companies attribute

In [150]:
# datafram for creating column wise data

df=pd.DataFrame({'name':name,
    'rating':rating,
    'reviews':reviews,
    'company_type':comtype,
    'Head_Quarters':hq,
    'Company_Age':how_old,
    'No_of_Employee':no_of_employee,
    })
final_data_frame=final_data_frame.append(df,ignore_index=True)

In [151]:
final_data_frame.shape

(9959, 7)

In [155]:
final_data_frame.head(10)

,name,rating,reviews,company_type,Head_Quarters,Company_Age,No_of_Employee
0,TCS,3.9,(41k Reviews),Public,"Mumbai,Maharashtra + 238 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,(27.4k Reviews),Public,"Dublin,Dublin + 132 more",33 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,(24.8k Reviews),Private,"Teaneck,New Jersey + 88 more",28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(31.7k Reviews),Public,"Mumbai,Maharashtra + 987 more",28 years old,50k-1 Lakh Employees (India)
4,Wipro,3.9,(23.3k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 252 more",77 years old,1 Lakh+ Employees (India)
5,HDFC Bank,4.0,(32.7k Reviews),Public,"Mumbai,Maharashtra + 1102 more",28 years old,1 Lakh+ Employees (India)
6,Capgemini,3.9,(20.1k Reviews),Public,Paris + 69 more,55 years old,1 Lakh+ Employees (India)
7,HCL Technologies,3.9,(19.8k Reviews),Public,"Noida,Uttar Pradesh + 158 more",46 years old,1 Lakh+ Employees (India)
8,Infosys,4.0,(23.7k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 116 more",41 years old,1 Lakh+ Employees (India)
9,Tech Mahindra,3.7,(18.4k Reviews),Public,"Pune,Maharashtra + 181 more",36 years old,50k-1 Lakh Employees (India)

In [167]:
final_data_frame.to_csv('List of companies in India.csv')